* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    font-family:roboto;
}

nav {
    height:10vh;
    width:100vw;
    background-color:burlywood;
    display:flex;
    color:white;
    align-items: center;
    justify-content: space;
    padding:1rem;
}

h1 {
    font-size:2rem;
    color:black;
}

.newBookButton {
    height:4rem;
    width:8rem;
    margin-left:450px;
}

main {
    height:90vh;
    width:100vw;
    background-color:brown;
    display:flex;
    align-items: center;
}

#book-title {
    display:block;
}

#book-card-container {
    display:flex;
    gap:20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

.card {
    max-height:350px;
    min-height:300px;
    width:250px;
    background-color: white;
    color:black;
    margin-left:50px;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    padding:1.5rem;
}

.card-title {
    font-weight:800;
}

.card input {
    display:block;
}

.book-form {
    display:flex;
    justify-content: center;
    align-items: center;
    height:110vh;
    width:100vw; 
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    position:fixed;
    backdrop-filter: blur(4px);
}

#form {
    height:50%;
    width:15%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: grey;
    padding:1.5rem;
    margin:auto;
    margin-top:200px;
    z-index:2;
}

#close-button {
    margin-left:10rem;
    cursor:pointer;
}

.card-close {
    display:flex;
    justify-content: flex-end;
    cursor: pointer;
}

.inputs {
    display:flex;
    flex-direction: column;
    gap:30px;
}

#addBookButton {
    background-color: rgb(52, 189, 52);
    cursor:pointer;
}

.solid-green-border {
    border-left:10px solid green;
}

.solid-yellow-border {
    border-left:10px solid yellow;
}
    


