* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    font-family:roboto;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    height:10vh;
    width:100vw;
    background-color:burlywood;
    display:flex;
    color:white;
    align-items: center;
    padding:1rem;
    /* border:1px solid black; */
}

h1 {
    font-size:2rem;
    color:black;
}

main {
    height:100vh;
    background-color:brown;
    display:flex;
}

.content {
    width:80%;
    display:flex;
    gap:20px;
    border:1px solid black;
}

.information {
    width:20%;
    background-color: whitesmoke;
    border:1px solid black;
}

.card {
    /* height:50px;
    width:75px; */
    display:flex;
    flex-direction: column;
    color:white;
}

.newBookButton {
    height:4rem;
    width:8rem;
}

.book-form {
    display:hidden;
}


form {
    display:flex;
    flex-direction: column;
    background-color: grey;
    padding:1.5rem;
    width:20%;
}

.test-form > * {
    display:hidden;
}