* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    font-family:roboto;
}

nav {
    height:10vh;
    width:100vw;
    background-color:burlywood;
    display:flex;
    color:white;
    align-items: center;
    justify-content: space;
    padding:1rem;
}

h1 {
    font-size:2rem;
    color:black;
}

.newBookButton {
    height:4rem;
    width:8rem;
    margin-left:450px;
}

main {
    height:90vh;
    width:100vw;
    background-color:brown;
    padding:7rem;
}

#books {
    /* border:1px solid black; */
    /* z-index: 1; */
}

#book-title {
    display:block;
}

#book-card-container {
    display:flex;
    gap:20px;
}

.card {
    height:350px;
    width:300px;
    background-color: white;
    color:black;
}

.book-form {
    margin:auto;
    height:60vh;
    width:20vw; 
    padding:1.5rem;
}

#form {
    height:100%;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: grey;
    padding:1.5rem;
    border:1px solid black;
}

#close-button {
    margin-left:5rem;
    cursor:pointer;
}

.inputs {
    display:flex;
    flex-direction: column;
    gap:30px;
}

#addBookButton {
    background-color: rgb(52, 189, 52);
    cursor:pointer;
}


